{{#if error}}
  {{#compare error "missingFields" operator="!=="}}
    <div class="alert alert-danger" role="alert">
      {{@root.error}}
    </div>
  {{/compare}}
{{/if}}
{{#unless error}}
  {{#if status}}
    <div class="alert alert-success" role="alert">
      {{@root.status}}
    </div>
  {{/if}}
{{/unless}}
