<link rel="stylesheet" href="/css/toolbar.css">
<div class="toolbar">
  <!-- Font color -->
  <select class="toolbar-selector" id="fontColor">

  </select>
  <span class="toolbar-divider"> | </span>

  <!-- Font -->
  <select class="toolbar-selector" id="fontFamily">
  </select>

  <!-- Font Size -->
  <select class="toolbar-selector" id="fontSize">
  </select>

  <span class="toolbar-divider"> | </span>

  <!-- Headers -->
  <select class="toolbar-selector" id="header">
  </select>

  <span class="toolbar-divider"> | </span>

  <!-- Font Controls -->
  <button type="button" class="toolbar-item"><i class="fa fa-bold fa-lg" aria-hidden="true"></i></button type="button">
  <button type="button" class="toolbar-item"><i class="fa fa-italic fa-lg" aria-hidden="true"></i></button type="button">
  <button type="button" class="toolbar-item"><i class="fa fa-underline fa-lg" aria-hidden="true"></i></button type="button">

  <span class="toolbar-divider"> | </span>

  <!-- Alignment -->
  <button type="button" class="toolbar-item"><i class="fa fa-align-left fa-lg" aria-hidden="true"></i></button type="button">
  <button type="button" class="toolbar-item"><i class="fa fa-align-center fa-lg" aria-hidden="true"></i></button type="button">
  <button type="button" class="toolbar-item"><i class="fa fa-align-right fa-lg" aria-hidden="true"></i></button type="button">

  <span class="toolbar-divider"> | </span>

  <!-- List Items -->
  <button type="button" class="toolbar-item"><i class="fa fa-list-ul fa-lg" aria-hidden="true"></i></button type="button">
  <button type="button" class="toolbar-item"><i class="fa fa-list-ol fa-lg" aria-hidden="true"></i></button type="button">
</div>
