.content {
    margin-left: 15%;
    margin-right: 15%;
}

#log {
    margin-left: 15%;
    margin-right: 15%;
}

.no-highlight {
    outline: none;
}

.margin-left {
    margin-left: 15%;
}

.number {
    float: left;
    padding-right: 10%;
}

.display-inline {
    display: inline-block;
}

.right {
    text-align: right;
}

.border-top {
    border-top: 1px solid gray;
    margin-top: 5px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.nrbtn:focus {
    outline: none
}
