/* body styles */

body {
    padding-top: 60px;
    font-family: 'Helvetica';
    background-color: #ffffff;
}

.content {
  margin-left: 15%;
  margin-right: 15%;
}

h1 {
  font-family: font-family: 'Open sans', sans-serif !important;
}

/* navbar styling */
.navbar {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 100;
    font-family: 'Open sans', sans-serif !important;
    background-color: #D4D4D4 !important;
}

#navbarDropdown {
  cursor: pointer;
}

/* collapsible_table styles */

.blank-row {
    padding: 0px !important;
    line-height: 0px !important;
    border-top: none !important;
}

.gray-button {
  background-color: #5d5d5d !important;
  color: #ffffff !important;
  border: none;
}

.yellow-button {
  background-color: #ffffcc !important;
  color: black !important;
  border: 1px solid #ffff73;
}

.clickable-row {
  cursor: pointer;
}

.border-top {
    border-top: 1px solid gray;
    margin-top: 5px;
    padding-top: 10px;
}

.details {
    font-size: 10pt;
}

/* pending request styles */

.approve-button {
  outline: none;
  background-color: #5cb85c !important;
}

.approve-button:hover {
  background-color: #5cb85c !important;
}

.reject-button {
  outline: none;
  background-color: #c9302c !important;
}

.reject-button:hover {
  background-color: #c9302c !important;
}

/* file icon styles */

.fa-file {
  color: #495057 !important;
  font-size: 20px;
}

/* buttons */

.edit-button {
  background-color: #ffe554;
  color: black;
}

.edit-button:hover {
  background-color: #E5CE4B;
}

/* table header styles */
@media screen (min-width 360px) and (max-width: 760px) {
  .media-span: {
    float: none !important;
  }
  .media-input: {
    width: 70% !important;
    margin-right: 5px !important;
  }
  .media-add: {
    width: 10% !important;
    margin-right: 5px !important;
  }
  .media-search: {
    width: 10% !important;
  }
}
