<link rel="stylesheet" href="/css/form.css">
<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
<div class="content">
  <h2> Create New Template </h2>
  {{#if error}}
    <form class="needs-validation was-validated" method="post" action="/new_template" novalidate>
  {{else}}
    <form class="needs-validation" method="post" action="/new_template" novalidate>
  {{/if}}
    <div class="form-group">
        <label for="name">Name:</label>
        <input name="name" type="name" class="form-control" id="name" aria-describedby="templateName" placeholder="Enter name" value="{{name}}" required>
        <div class="invalid-feedback">
          Name is a required field *
        </div>
    </div>
    <div class="form-group">
        <label for="subject">Subject:</label>
        <input name="subject" type="subject" class="form-control" id="subject" aria-describedby="templateSubject" placeholder="Enter subject" value="{{subject}}" required>
        <div class="invalid-feedback">
          Subject is a required field *
        </div>
    </div>
    <div class="form-group">
        <button id="pasteWord"></button>
        <label for="body">Body:</label>
        <textarea name="body" class="form-control editable" rows="4" id="body">{{{body}}}</textarea>
        <div class="invalid-feedback" id="bodyFeedback">
          Body is a required field *
        </div>
    </div>
    <div class="form-group">
      <a href="/edit_templates"><button type="button" class="btn" style="border: 1px solid #5d5d5d; color: #5d5d5d;">Cancel</button></a>
      <button clicked="false" type="submit" class="btn submit">Create</button>
    </div>
  </form>
</div>
<script src="/js/frontend_helpers.js"></script>
<script src="/js/frontend_validation/custom_validators/template_validator.js"></script>
<script src="/js/frontend_validation/form-validation.js"></script>
<script>
  const editor = new MediumEditor('.editable', {
    buttonLabels: 'fontawesome',
    toolbar: { buttons: ['indent', 'outdent', 'bold', 'italic', 'underline', 'justifyLeft', 'justifyCenter', 'justifyRight', 'h2', 'h3', 'quote', 'removeFormat'] },
    placeholder: { text: '' }
  });
</script>
